{% extends 'base.html' %}

{% load static core_tags wagtailcore_tags i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<section class="content-wrapper">
    <div class="row">
        <div class="eight column">
            {% for blog in blogs %}
                {% include "core/elements/_blog_index_line.html" %}
            {% empty %}
                <div class="alert info"><i class="icon-info-sign"></i>{% trans 'No blogs found!' %}</div>
            {% endfor %}

            {% include 'core/elements/_pagination.html' %}
        </div>

        <div class="four column">
            <aside>
                <div id="weather"></div>
            </aside>
            {% include "core/elements/related_links.html" with related_links=self.related_links.all only %}
        </div>
    </div>
</section>
{% endblock %}