{% extends "core/elements/right_sidebar_base.html" %}

{% load static core_tags wagtailcore_tags i18n %}

{% block articles %}
    {% include "core/elements/_intro.html" with intro=self.intro only %}
    {% include "core/elements/_body.html" with body=self.body only %}
    <div class="blog-wrapper">
    {% recent_pages %}
    </div>
{% endblock %}

{% block sidebar %}
<aside>
    <div class="note-folded grey text-center">
        <div class="widget-author">
            <img src="{% static 'images/gravatar-sotiria.png' %}" alt="" />
        </div>
        <h4>Sotiria</h4>
        <hr/>
        <p>Visual artist, inspired, living and creating in Cyprus. My influences are Constructivism, Fauvism, Contemporary Art, and the dramatic landscape by which I am surrounded.
        I am a full time, stay at home mum to one daughter. When I am not reading, thinking about or practising my art, I bake for my family. I am especially interested in creating
        desserts with olive oil instead of other fats, and currently working on my other blog the olive bakers with the help of my family.
        </p>
    </div>
</aside>

<aside>
    <div id="weather"></div>
</aside>

<aside>
    {% recent_recipes %}
</aside>

<aside>
    {% recent_blogs %}
</aside>
{% endblock %}

{% block pagination %}{% endblock %}