{% load static core_tags wagtailcore_tags %}
<header>
    <div class="row">
        <div class="twelve column">
            <div id="left-header">
                <!-- logo start here -->
                <div id="logo">
                    <a href="{% pageurl request.site.root_page %}" title="{{ request.site.root_page.title }}">
                        <img src="{% static 'images/logo-white.png' %}" alt="main-logo" class="retina"/>
                    </a>
                </div>
                <!-- logo end here -->
            </div>
            <div id="right-header">
                <div id="mainmenu-wrapper">
                    <div class="left-menu">
                        <!-- navigation start here -->
                        {% with site_root=request.site.root_page %}
                            {% top_menu parent=site_root calling_page=self %}
                        {% endwith %}
                    </div>
                    {% block search_box %}
                        {% include "core/elements/_search_box.html" %}
                    {% endblock %}
                </div>
                {% block header_extra %}
                    {% pagetitle %}
                    {% breadcrumbs %}
                {% endblock %}
            </div>
        </div>
    </div>

</header>
<!-- header end here -->