{% load i18n %}
<!-- top info start here -->
<div id="top-info">
    <div class="row">
        <div class="twelve column top-desc">                
            <ul class="social-button">
            	<li>
                    <iframe id="facebookIframe" 
                    src="https://www.facebook.com/plugins/like.php?href=http://theoliveoilbakers.com/&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"></iframe>
                </li>
                <li>
                <a href="https://twitter.com/oliveoilbakers" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @oliveoilbakers</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
                <li>
                    <a href="#" data-jq-dropdown="#jq-dropdown-1" title="{% trans 'Change language' %}"><i class="icon-language"></i></a>
                </li>
            </ul>                   
        </div>
    </div>
</div>
<!-- top info end here -->