{% load static core_tags wagtailcore_tags i18n wagtailimages_tags %}

<div class="blog-wrapper">
    <div class="blogmedia-wrap">
    {% if recipe.carousel_items.all %}
        <div class="banner-blog">
            <ul>
            {% for carousel_item in recipe.carousel_items.all %}
                <li data-transition="slidehorizontal">
                    {% image carousel_item.image width-709 as img %}
                    <img src="{{ img.url }}" alt="{{ img.title }}"/>
                </li>
            {% endfor %}
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    {% elif recipe.promo_image %}
        {% image recipe.promo_image width-709 as img %}
        <img class="media-object" src="{{ img.url }}" alt="{{ img.title }}"/>

        <ul class="no-bullet post-info">
            <li><i class="icon-user"></i><span>{{ recipe.owner }}</span></li>
            {% if recipe.tags.all %}
                <li class="no-tag">
                    <i class="icon-tag"></i>
                    <span>
                    {% for tag in recipe.tags.all %}
                        <a href="{% pageurl self %}?tag={{ tag }}">{{ tag }}</a>,
                    {% endfor %}
                    </span>
                </li>
            {% endif %}
            <li class="no-tag2"><i class="icon-clockalt-timealt"></i><span>{{ recipe.date }}</span></li>
            <li class="no-tag2"><i class="icon-comment"></i><span class="disqus-comment-count" data-disqus-url="{% pageurl self %}"></span></li>
        </ul>
    {% endif %}
    </div>

    <div class="blogcontent-wrap">            	
        <div class="post-type">
            <i class="icon-picture"></i>
        </div>
        <h3><a href="{% pageurl recipe %}">{{ recipe.title }}</a></h3>
        {% if recipe.search_description %}
        <p>{{ recipe.search_description }}</p>
        {% endif %}
        <hr>

        {% social_list recipe %}

        <a href="{% pageurl recipe %}" class="button-plain small orange">{% trans 'Learn more' %} <span class="plain-arrow">&gt;</span></a>
    </div>
    <div class="clear"></div>
</div>