 <div class="right-menu" id="top-search">
    <a class="trigger" href="#"><i class="icon-search"></i></a>
    <div class="search-panel">
        <ul>
            <li>
                <form id="search" action="{% url 'search' %}" method="get">
                    <fieldset class="search-fieldset">
                        <input name="query" type="text" id="search-form"
                        value="type and hit enter"
                        onblur="if (this.value == ''){this.value = 'type and hit enter'; }"
                        onfocus="if (this.value == 'type and hit enter') {this.value = ''; }" />
                    </fieldset>      						
                </form>
            </li>
        </ul>
    </div>
</div>